.navbar {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}
.nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 5px;
  margin-left: 500px;
  margin-top: 0px;
}
.nav-links li a {
  color: #555;
  text-decoration: none;
  font-weight: 550;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  padding: 20px;
  text-align: right;
}
.nav-links li a:hover {
  color: #cc9f79;
  cursor: pointer;
}
.logo {
  margin-left: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  margin-top: 60px;
}
.container1 {
  color: rgb(67, 65, 65);
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 10px;
}
.container1 h1 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  font-weight: 200;
}
.container1 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.btn {
  background-color: #fbd9bd;
  padding: 15px;
  font-weight: bold;
  color: rgb(67, 65, 65);
  margin: 30px 0;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 10px;
}
.header {
  background: radial-gradient(#fff, #f9f0e0);
}
/* ***********************contat us ************************* */
/*.question-form {
  width: 600px;
  height: 300px;

  margin: 50px;
  padding: 40px;
}
label {
  text-align: center;
  font-size: 14px;
  font-weight: 100px;
  padding: 10px;
}
input select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}*/

.container {
  margin: auto;
  height: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #e6c67c;
  color: white;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #d7bc82;
}

/* *************************FOOTER ****************************** */
.main-footer {
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;
  background-color: #d8bb90;

  height: 300px;
}

.section1 li a {
  text-decoration: none;
  list-style: none;
  color: rgb(44, 42, 42);
  font-weight: 550;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  padding-top: 30px;
}
.section1 li {
  text-decoration: none;
  list-style: none;
  color: #434040;
  font-weight: 550;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  padding: 5px;
}
.section1 p {
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.section1 h2 {
  font-family: sans-serif;
  font-size: 16px;
}
.section1 li a:hover {
  color: rgb(231, 214, 185);
}
